@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    "Noto Sans", "Helvetica Neue", sans-serif;
}

.dark {
  --bg-color: #031829;
  --container-color: #1d2d3d;
  --text-color: #e3e3e3;
  --sub-text-color: #f0f0f2;
  --accent-color: #4cbc36;
  --hover-color: #91d47c;
}

.light {
  --bg-color: #e3e3e3;
  --container-color: #f0f0f2;
  --text-color: #031829;
  --sub-text-color: #1d2d3d;
  --accent-color: #66c550;
  --hover-color: #7ccc67;
}
